
 SELECT M1.BRAND_CD, M1.OUTBOUND_DATE, M1.INVOICD_NO, M2.LINE_NO, M2.ORDER_QTY
   FROM A_OUT_M M1 
   JOIN A_OUT_D M2 ON M1.BRAND_CD   = M2.BRAND_CD
                  AND M1.INVOICE_NO = M2.INVOICE_NO
  WHERE M1.OUTBOUND_DATE = '2023-01-04'
    AND M2.ITEM_CD IN ('A', 'B');